.inner-p {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.profile {
  width: 500px;
  margin: 0 auto;
  background-color: #222832;
  border-radius: 5px;
  padding: 50px 15px;
  color: #fff;
  font-size: 17px;
  text-align: center;
}


.profile .head {
  font-size: 25px;
  font-weight: bold;
  color: #f36557;
  text-align: center;
  text-transform: capitalize;
}

.profile a {
  color: #fff;
  transition: all .25s ease;
}

.profile a:hover {
  color: #d14335;
}